body.format {
    --background-color-dark-pink:#e94974ff;
    --background-color: #fae9ed;
    --background-color-cards: #FAFAFA;
    --background-color-hover-button: #f86089;
}

body{
    background-color: var( --background-color);
}

/*-------NAV BAR--------*/
.img-logo{
    width: 40px;
    margin: 0px 15px 0px 15px;
}

.navbar-background{
    background-color: var(--background-color-dark-pink);
}

.nav-link{
    padding: 7px;
    transition-duration: 0.3s;
    text-decoration: none;
}

.nav-link:hover{
    background-color:var(--background-color-hover-button);
    transition-duration: 0.3s;
}
a i{
    margin-right: 7px;
}

/*-------SECTION--------*/

.width-section{
    width:25rem;
}

/*-------OPERATIONS CARD--------*/
.cards-background{
    background-color: var(--background-color-cards);
}

.operations-img-format{
    width: 25rem;
    display: flex;
    justify-content: center;
}

.new-op-button{
    background-color: var(--background-color-dark-pink);
}

.new-op-button:hover{
    background-color:var(--background-color-hover-button);
    transition-duration: 0.2s;
}

/*-------ADD BUTTON--------*/

.dark-pink-color{
    background-color: var(--background-color-dark-pink);
}

/*-------TABLE--------*/

.action-class{
    color:#f86089;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 0px 10px 10px;
}

.negative-number{
    color: #ff0000;
}

.positive-number{
    color: #008000;
}

.category-style{
    color: var(--background-color-dark-pink);
    background: yellow;
}

/*-------ANIMATION-------*/
#anim{
    width: 100%;
    display:flex;
    justify-self: center;
}

/*-------HIDDEN-------*/

.hidden{
    display: none; 
}
