body.format {
    --background-color-dark:#13A19C;
    --font-color-dark:#13A19C;
    --font-background-color:#bed8d7;
    --background-color: #bed8d7;
    --background-color-cards: #FAFAFA;
    --background-color-hover-button: #24bab5;
    --font-color-hover: #13726f;
    --backgorund-color-cnl: #c4cbcb;
    --font-color-cnl:#343737;
}

body{
    background-color: var( --background-color);
}

/*-------CONTAINER--------*/

.container-lg{
    max-width:58rem;
    padding: 1.5rem;
    border-radius: 5px; 
}

/*-------NAV BAR--------*/
a i{
    margin-right: 7px;
}

.img-logo{
    width: 40px;
    margin: 0px 15px 0px 15px;
}

.navbar-background{
    background-color: var(--background-color-dark);
}

.nav-link{
    padding: 7px;
    transition-duration: 0.3s;
    text-decoration: none;
}

.nav-link:hover{
    background-color:var(--background-color-hover-button);
    transition-duration: 0.3s;
}

.navbar-toggler{
    background-color: var(--background-color);
}

/*-------ASIDE--------*/

.btn-hide-filters{
    width:15rem;
}


/*-------OPERATIONS CARD--------*/
.cards-background{
    background-color: var(--background-color-cards);
}

.new-op-button{
    background-color: var(--background-color-dark);
}

.new-op-button:hover{
    background-color:var(--background-color-hover-button);
    transition-duration: 0.2s;
}

.op-card-style{
    width: 48rem;
    height: 100%;
    border: none;
}

#anim{
    width: 100%;
    display:flex;
    justify-self: center;
}

/*-------CANCEL BUTTON--------*/
.cnl-btn-color{
    background-color: var(--background-color);
    color: var(--font-color-cnl);
}
.cnl-btn-color:hover{
    background-color: var(--backgorund-color-cnl);
}
/*-------ADD BUTTON--------*/

.dark-color{
    background-color: var(--background-color-dark)
}

.dark-color:hover{
    background-color:var(--background-color-hover-button)
}
/*-------TABLE--------*/

.action-class{
    color:var(--background-color-dark);
    font-size: 14px;
    text-decoration: none;
    margin: 0px 0px 10px 10px;
    border: none;
}

.action-class:hover{
    color: var(--font-color-hover);
}

.negative-number{
    color: #ff0000;
}

.positive-number{
    color: #008000;
}

/*-------HIDDEN-------*/

.hidden{
    display: none; 
}

/*------ COLORS FONT-----*/

.style-text-dark-color{
    color: var(--font-color-dark);
    background-color: var(--font-background-color);
    border-radius: 5px;
    padding: 2px;
    text-align: center; 
}

/*------ REPORTS-----*/
.chart{
    width: 100%;
}

.width-table-column{
    width: 10rem;
}

.img-reports{
    width: 80%;
}

@media screen and (max-width:768px){ 
    .btn-edit-cnl-cat{
        width: 8rem;
    }

    .chart{
        width: 80%;
    }
    

}

@media screen and (max-width:992px){ 
    .op-card-style{
        width: 100%;
    }
    

}